*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
}

.container {
    width:100vw;
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    background: url(./elements/homepage.png) no-repeat center center/cover;
    
}
button {
    font-size:80px;
    font-weight: bold;
    margin-top: 30%; 
}

button:visited{
    color: black;
}
button:active{
    color: black;
}
